.environment {
    flex: 1;
}

.library-x {
    width: 20%;
    background: black;
    color: white;
}

.lib-components-x{
    flex-direction: column;
    gap: 20px;
}

.event-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-weight: 500;
    background: white;
    border-radius: 20px;
    border: 2px dashed #000;
    color: #000;
}

.conditional-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    background: white;
    border: 2px dashed #000;
    border-radius: 20px;
    color: #000;
}

.node-heading {
    font-weight: 700 !important;
    margin-bottom: 20px;
}

.conditional-data-form, .effect-data-form {
    display: flex;
    flex-direction: column;
}

.conditional-data-form select, .effect-data-form select {
    background: white;
    border-radius: 20px;
    border: 2px dotted #000;
    color: black;
    height: 25px;
    margin-top: 5px;
}

.conditional-data-form input, .effect-data-form input {
    background: white;
    border-radius: 20px;
    border: 2px dotted #000;
    color: black;
    height: 25px;
    padding-left: 5px;
    margin-top: 5px;
}

.conditional-data-form input[type="checkbox"], .effect-data-form input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 0%;
    transition: background 120ms ease, border-color 120ms ease;
}

.conditional-data-form input[type="checkbox"]:checked, .effect-data-form input[type="checkbox"]:checked {
    background: black;
}

.effect-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    background: white;
    border: 2px dashed #000;
    border-radius: 20px;
    color: #000;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.setting input {
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    border: 1px solid #000;
}

.setting select {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    border: 1px solid #000;
}

.setting input[type="radio"] {
    appearance: none;
    width: 5px;
    height: 5px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 100%;
    transition: background 120ms ease, border-color 120ms ease;
}

.setting input[type="radio"]:checked {
    background: #000;
}

.entities-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    width: 100%;
    height: 250px;
    background: none;
}

.single-entity {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding-top: 5px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 45%;
    height: 80%;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
}

hr {
    width: 100%;
    height: 3px;
    background: #000;
}

.single-entity-view {
    display: flex;
    border-bottom: 1px solid #000;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.entities-setting {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 20px;
    width: 100%;
    height: 250px;
    align-items: center;
    color: #000;
}

.entities-setting h2 {
    padding: 5px;
}

.training-btn {
    margin: 5px 0px;
}

.training-btn button {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entity-info {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.entity-info input {
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #000;
}

.entity-info button {
    width: 25%;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}