.environment {
    flex: 1;
}

.library-x {
    width: 20%;
    background: black;
    color: white;
}

.lib-components-x{
    flex-direction: column;
    gap: 20px;
}

.event-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-weight: 500;
    background: white;
    border-radius: 20px;
    border: 2px dashed #000;
    color: #000;
}

.conditional-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    background: white;
    border: 2px dashed #000;
    border-radius: 20px;
    color: #000;
}

.node-heading {
    font-weight: 700 !important;
    margin-bottom: 20px;
}

.conditional-data-form, .effect-data-form {
    display: flex;
    flex-direction: column;
}

.conditional-data-form select, .effect-data-form select {
    background: white;
    border-radius: 20px;
    border: 2px dotted #000;
    color: black;
    height: 25px;
    margin-top: 5px;
}

.conditional-data-form input, .effect-data-form input {
    background: white;
    border-radius: 20px;
    border: 2px dotted #000;
    color: black;
    height: 25px;
    padding-left: 5px;
    margin-top: 5px;
}

.conditional-data-form input[type="checkbox"], .effect-data-form input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 0%;
    transition: background 120ms ease, border-color 120ms ease;
}

.conditional-data-form input[type="checkbox"]:checked, .effect-data-form input[type="checkbox"]:checked {
    background: black;
}

.effect-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    background: white;
    border: 2px dashed #000;
    border-radius: 20px;
    color: #000;
}