.environment {
    flex: 1;
}

.library-x {
    width: 20%;
    background: black;
    color: white;
}

.lib-components-x{
    flex-direction: column;
    gap: 20px;
}

.event-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-weight: 500;
    background: white;
    border: 2px solid #000;
    color: #000;
}