.environment {
    flex: 1;
}

.library-x {
    width: 20%;
    background: black;
    color: white;
}

.lib-components-x{
    flex-direction: column;
    gap: 20px;
}

.event-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-weight: 500;
    background: white;
    border-radius: 20px;
    border: 2px dotted #000;
    color: #000;
}

.conditional-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    background: white;
    border: 2px dotted #000;
    border-radius: 20px;
    color: #000;
}

.node-heading {
    font-weight: 700 !important;
    margin-bottom: 20px;
}

.conditional-data-form, .effect-data-form {
    display: flex;
    flex-direction: column;
}

.effect-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 10px;
    background: white;
    border: 2px dotted #000;
    border-radius: 20px;
    color: #000;
}